.carousel-custom{
    /* width: 100%; */
    /* height: 100%; */
    z-index: 31;
}
.carousel-custom{
    width : 35rem;
}
div.carousel-slider div.slider-wrapper{
    width: 100%;
    height: 21rem;
}

.carousel-contain-img{
    width: 100%;
    height: 100%;
}

.thumbs-wrapper{
    display: none;
}

.carousel-custom .carousel-contain-img img{
    height: 21rem;
    width : 35rem;
    object-fit: cover;
}

.thumbs li.thumb{
    height: 80px !important;
    width: 80px !important;
}

.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}